.MainPage {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: space-around;
  text-align: center;
}
.main-title {
  color: rgb(200, 133, 87);
  font-weight: 300;
  font-size: 27px;
  padding: 20px 0;
  text-align: center;
}
.themes-wrapper {
  display: flex;
  justify-content: space-around;
}
.theme-card {
  width: 150px;
  height: 100px;
  border: 1px solid rgb(255, 129, 129);
  border-radius: 5px;
  background-color: rgb(255, 244, 227);
  display: flex;
  justify-content: center;
  padding: 20px;
  align-items: center;
  cursor: pointer;
  font-size: 20px;
  font-weight: 500;
  margin: 0 auto;
}
.theme-card:hover {
  opacity: 70%;
  color: rgb(241, 148, 148);
  border: 1px solid rgb(161, 161, 235);
}

h2 {
  font-weight: 400;
}

.router-link {
  text-decoration: none;
  color: black;
}
