@import url("https://fonts.googleapis.com/css2?family=Averia+Serif+Libre&family=Roboto:ital,wght@0,400;0,500;1,300&display=swap");

.MainPage {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: space-around;
  text-align: center;
}
.main-title {
  font-family: "Averia Serif Libre", cursive;
  font-weight: 500;
  font-size: 27px;
  padding: 20px 0;
  text-align: center;
}

/* .main-page-h2-underlined {
  border-bottom: 1px solid black;
} */

.underline {
  width: 20%;
  height: 2px;
  background-color: black;
  margin: 2px auto;
}
.themes-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}
.theme-card {
  width: 150px;
  height: 80px;
  border: 1px solid black;
  border-radius: 3px;
  /* background-color: rgb(255, 251, 240); */
  display: flex;
  justify-content: center;
  padding: 20px;
  align-items: center;
  cursor: pointer;
  font-size: 20px;
  font-weight: 500;
  margin: 0 auto;
}
.theme-card:hover {
  /* letter-spacing: 1px; */
  /* font-size: larger; */
  /* opacity: 70%; */
  background-color: black;
  color: white;
  /* border: 1px solid rgb(161, 161, 235); */
}

.theme-card-all {
  border: 1px solid black;
  /* height: px; */
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 20px;
  align-items: center;
  cursor: pointer;
  font-size: 20px;
  font-weight: 500;
  margin: 0 auto;
  border-radius: 3px;
  box-sizing: border-box;
}

.theme-card-all:hover {
  /* letter-spacing: 1px; */
  /* font-size: larger; */
  /* opacity: 70%; */
  background-color: black;
  color: white;
  /* color: rgb(255, 228, 228); */
  /* border: 1px solid rgb(161, 161, 235); */
}

h2 {
  font-weight: 400;
}

.router-link {
  text-decoration: none;
  color: black;
}
